<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--<add key="connString" value="server=DESKTOP-Q07NSGI\SQLEXPRESS;Integrated Security=SSPI;Persist Security Info=False; database=chakesar_Chappal;"/>-->    
  <add key="connString" value="server=66.165.248.146;uid=myChappal;pwd=_Shan12345; database=chakesar_Chappal;"/>    
  </appSettings>
</configuration>