<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup useLegacyV2RuntimeActivationPolicy="true">
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
</startup>
<appSettings>
  <!--Server Connection-->
<!--<add key="connString" value="KW7HkGFDXbOUx4a1dkTTjJ8DBNH8PIkMAN/ijZyJBaWc4nUTYogEh/p7tLusXxkPQF+RBUJOTmTnd9P3RtEfHCLeEKi/KiSYMr1ansFAokyqmoHayiMXWg=="/>-->
  
  <!--Local Connection-->
  <add key="connString" value="UQ/+7EySPliOyIrpVgfnob80Eu+tgoph70W/9hfMw4flHo3Aa86tuuX3/10yCQeJfiuUCnoYhn/Jyk7oUnBF66J710i0PwYdr98HaB1MyQlQ7ClhlWbhBA=="/>
<add key="PrinterName" value="ABC"/>
<add key="LogoPath" value="D:\logo.JPEG"/>
</appSettings>
</configuration>